.container {
  // margin-left: 0px;
  // margin-right: 0px !important;
  // padding: 20px;
  width: 100%;
  // overflow: hidden;
  // height: 100vh;
  background-color: #606F7E;
}

.aboutme {
  height: calc(100vh - 40px);
  overflow: hidden;
  background-image: url(aboutme.jpeg);
  background-size: cover;
  background-position: center;
  margin: 20px 5px;
}

#homepage_topleft {
  background-image: url(portfolio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  @media (max-width: 991px) {
    margin-top: 0px;
    height: 100vh;
    margin-left: 5px;
  }
}

#homepage_btmleft {
  background-image: url(travel.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  @media (max-width: 991px) {
    height: 100vh;
    margin-left: 5px;
  }
}

#homepage_topright {
  background-image: url(recipes.jpeg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  @media (max-width: 991px) {
    height: 100vh;
    margin-left: 5px;
  }
}

#homepage_btmright {
  background-image: url(contactme.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  @media (max-width: 991px) {
    height: 100vh;
    margin-left: 5px;
    margin-bottom: 20px;
  }
}




