.container-fluid {
  padding: 0px;
  background-color: white;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.aboutme {
  height: calc(100vh - 70px);
  background-color: white;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  p {
    margin-top: 50px;
  }
  h3 {
    margin-top: 100px;
  }
}
.line {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid black;
  margin: 0 auto 50px auto;
  max-width: 400px;
  position: relative;
  height: 1px;
  width: 400px;
}
.experience {
  height: calc(100vh - 70px);
  background-color: #77a56b;
}

.projects {
  height: calc(100vh - 70px);
}

.contact {
  height: calc(100vh - 70px);
  background-color: #477a9f;
}
