.container {
  // margin-left: 0px;
  // margin-right: 0px !important;
  // padding: 20px;
  width: 100%;
  // overflow: hidden;
  // height: 100vh;
  background-color: #606F7E;
}

.aboutme {
  height: calc(100vh - 40px);
  overflow: hidden;
  background-image: url(aboutme.jpeg);
  background-size: cover;
  background-position: center;
  margin: 20px 5px;
}
.aboutme:hover {
  transition: all 0.5s;
  background-image: linear-gradient(-225deg, rgb(94, 111, 127) 0%, rgba(0,36,61,0.6) 60%),url(aboutme.jpeg);
  h2 {
    top: 25%;
  }
}

// .aboutme p {
//   opacity: 0;
//   transition: all 0.5s;
//   color: #fdd2d4;
//   font-size: 25px;
//   text-align: center;
//   position: relative;
//   top: 30%;
// }

h2 {
  text-align: center;
  position: relative;
  top: 75%;
  font-size: 50px;
  color: #fdd2d4;
}
h1 {
  font-size: 30px;
  color: #fdd2d4;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.homepage_sm {
  font-size: 30px;
  color: #fdd2d4;
  // margin-top: 15px;
  margin-left: 15px;
  a {
    color: #fdd2d4;
  }
  a:hover {
    opacity: .5;
  }
}

#homepage_topleft {
  background-image: url(portfolio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  justify-content: center;
  @media (max-width: 991px) {
    margin-top: 0px;
    height: 100vh;
    margin-left: 5px;
  }
}
#homepage_topleft:hover {
  transition: all 0.5s;
  background-image: linear-gradient(-225deg, rgb(94, 111, 127) 0%, rgba(0,36,61,0.6) 60%),url(portfolio.jpeg);
  h2 {
    top: 25%;
  }
}
// #homepage_topleft p {
//   opacity: 0;
//   transition: all 0.5s;
//   color: #fdd2d4;
//   font-size: 25px;
//   text-align: center;
//   position: relative;
//   top: 30%;
// }
// #homepage_topleft:hover {
//   transition: all 0.5s;
//   background-image: linear-gradient(-225deg, rgb(94, 111, 127) 0%, rgba(0,36,61,0.6) 60%),url(portfolio.jpeg);
//   p {
//     opacity: 1;
//   }
// }

#homepage_btmleft {
  background-image: url(bali.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  justify-content: center;
  @media (max-width: 991px) {
    height: 100vh;
    margin-left: 5px;
  }
}
#homepage_btmleft:hover {
  transition: all 0.5s;
  background-image: linear-gradient(-225deg, rgb(94, 111, 127) 0%, rgba(0,36,61,0.6) 60%),url(bali.jpeg);
  h2 {
    top: 25%;
  }
}

#homepage_topright {
  background-image: url(recipes.jpeg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  justify-content: center;
  @media (max-width: 991px) {
    height: 100vh;
    margin-left: 5px;
  }
}
#homepage_topright:hover {
  transition: all 0.5s;
  background-image: linear-gradient(-225deg, rgb(94, 111, 127) 0%, rgba(0,36,61,0.6) 60%),url(recipes.jpeg);
  h2 {
    top: 25%;
  }
}

#homepage_btmright {
  background-image: url(contactme.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: calc(50vh - 30px);
  margin-top: 20px;
  margin-right: 5px;
  justify-content: center;
  @media (max-width: 991px) {
    height: 100vh;
    margin-left: 5px;
    margin-bottom: 20px;
  }
}
#homepage_btmright:hover {
  transition: all 0.5s;
  background-image: linear-gradient(-225deg, rgb(94, 111, 127) 0%, rgba(0,36,61,0.6) 60%),url(contactme.jpeg);
  h2 {
    top: 25%;
  }
}




