<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#">#thesoutherdev</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </div><!--/.nav-collapse -->


    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
      <div>
      <button type="button" id="sidebarCollapse" class="navbar-btn navbar-right">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div>
    </div>

  </div>
</nav>






