<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
          <%#= link_to "ABOUT ME", pages_about_path, {:class => "aboutmelink"} %>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">EXPERIENCE</a>
            </li>
            <li>
                <a href="#">PROJECTS</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
            <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">FOOD</a>
                <ul class="collapse list-unstyled" id="Submenu">
                    <li>
                        <a href="#">RECIPES</a>
                    </li>
                    <li>
                        <a href="#">RESTAURANTS</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">TRAVEL</a>
                <ul class="collapse list-unstyled" id="Submenu">
                    <li>
                        <a href="#">EUROPE</a>
                    </li>
                    <li>
                        <a href="#">SE ASIA</a>
                    </li>
                </ul>
            </li> -->
        </ul>

    </nav>
</div>
