<div class="container-fluid">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'homepage2.jpeg' %>);">
    <div class="banner-content">
      <h1>Developer</h1>
      <p>Coding my way around the globe with a little bit of southern charm</p>
    </div>
  </div>

  <div class="aboutme">
    <p>information about me</p>
  </div>

  <div class="experience">
    <p>Education</p>
    <p>Work</p>
    <p>Certifications</p>
  </div>

  <div class="projects">
    <p>List of my projects</p>
  </div>

  <div class="contact">
    <p>Contact form, social media icons and insta integration</p>
  </div>

</div>
