<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-12">
      <div class="aboutme"></div>
      <%#= image_tag("aboutme.jpg", :class=> "aboutme_image") %>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="row" id="homepage_topleft">
        <!-- <div class="col-lg-6 col-md-12" id="homepage_topleft"> -->
        <!-- </div> -->
      </div>
      <div class="row" id="homepage_btmleft">
        <!-- <div class="col-lg-6 col-md-12" id="homepage_topright">
        </div> -->
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <div class="row" id="homepage_topright">
        <!-- <div class="col-lg-6 col-md-12" id="homepage_topleft"> -->
        <!-- </div> -->
      </div>
      <div class="row" id="homepage_btmright">
        <!-- <div class="col-lg-6 col-md-12" id="homepage_topright">
        </div> -->
      </div>
    </div>

  </div>
</div>

