<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-4 col-sm-12">
      <div class="aboutme">
        <h1>#thesoutherndev</h1>
        <div class="homepage_sm">
          <a href="https://github.com/lmegan"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/glee_anne/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/leanne-egan/"><i class="fab fa-linkedin"></i></a>
        </div>
        <!-- <p>Click here to learn more about me</p> -->
        <h2>About me</h2>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="row" id="homepage_topleft">
        <!-- <div><p>Take a look at my recent work</p></div> -->
        <div><h2>Portfolio</h2></div>
      </div>
      <div class="row" id="homepage_btmleft">
        <div><h2>Travel</h2></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="row" id="homepage_topright">
        <div><h2>Recipes</h2></div>
      </div>
      <div class="row" id="homepage_btmright">
        <div><h2>Contact me</h2></div>
      </div>
    </div>

  </div>
</div>

