<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-4 col-sm-12">
      <div class="aboutme">
        <h2>About me</h2>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="row" id="homepage_topleft">
        <h2>Portfolio</h2>
      </div>
      <div class="row" id="homepage_btmleft">
        <h2>Travel</h2>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="row" id="homepage_topright">
        <h2>Recipes<h2>
      </div>
      <div class="row" id="homepage_btmright">
        <h2>Contact me<h2>
      </div>
    </div>

  </div>
</div>

